<svg class="download" height="31.3701" viewbox="0 0 21.94 31.3701" width="21.94" xmlns="http://www.w3.org/2000/svg">
    <defs>
        <style>
        .a{fill:none;}
        </style>
    </defs>
    <title>Snooks-Angel-Books-Symbols-08-01</title>
    <path d="M64.1508,68.43h-1.38V44.02l-8.58,8.58-1-1,10.3-10.24,10.24,10.18-1,1-8.54-8.52Z"
    transform="translate(-52.4908 -41.3603)"></path>
    <path d=
    "M73.7308,72.73h-20.54a.69.69,0,0,1-.7-.68V68.43h1.4v2.91h19.14V68.43h1.4v3.61a.69.69,0,0,1-.69.69Z"
    transform="translate(-52.4908 -41.3603)"></path>
    <path class="a" d="M58.2258,42.45h10.47V52.96h-10.47Z" transform=
    "translate(-52.4908 -41.3603)"></path>
</svg>