.storybook {
	position: relative;
	width: 100%;
	height: 100%;

	&__main, 
	&__form, 
	&__sections {
		width: 100%;
		height: 100%;
	}

	&__section {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		flex-flow: column nowrap;
		align-items: center;
		opacity:0;
		background-color: $theme-color-iceberg;
		color: $theme-color-science-blue;
		transition:opacity 0.3s ease-in;

		&#step4 {
			background-color: $theme-color-white;
			color: $theme-color-science-blue;
		}

		&.current {
			opacity:1;
			z-index: 1;
		}
	}

	&__controls {
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-end;
		width: 100%;
		height: 100%;
		justify-content: space-between;
		font-family: $font-basis-grotesque-pro-regular;
		font-size: 12px;
		text-transform: uppercase;
	
		&-nav {
			display: flex;
			margin: 24px;
			cursor: pointer;

			svg {
				position: relative;
				margin-left: 12px;
				width: 30px;
    			height: 30px;
			}
			
			&--right  {
				svg {
					-webkit-transform: rotate(180deg);
					transform: rotate(180deg);
				}
			}
		}
	}
}