<div class="form__group form__stacked">
	<div class="form__field">
		<label class="form__label">Upload Photo of Loved One</label> 
    </div>
    
    <div class="form__field form__field--user-photo">
        <input class="form__input" type="file" hidden>
        <label class="form__label"> 
            <figure class="circle circle--theme-white">
                {% include 'svg-download.liquid' %}
            </figure>
        </label>
    </div>
</div>