<div class="form__group form__stacked">
    <div class="form__field">
        <label class="form__label">Choose Cover Material</label> 
    </div>

    <div class="form__field">
        <div class="select">
            <select id="storybookCoverMaterial" name="coverMaterial">
                <option selected disabled>Select a cover material</option>
                <option value="softcover">Softcover</option>
                <option value="hardcover">Hardcover</option>
            </select>
        </div>
    </div>
</div>