<div class="form__group form__stacked">
    <h1 class="title title--medium">Preview Your Book</h1>
    <div class="container">
        <div id="coverPage" class="storybook-preview-block">
            <div class="form__field">
                <p class="desc">The Extraordinary Life of [relationship] [person name]</p> 
            </div>
            
            <div class="form__field">
                <img src="{{ 'activity-test.png' | asset_img_url: 'master' }}" />
            </div>
        </div>

        <div id="remembrancePage" class="storybook-preview-block">
            <div class="form__field">
                <p class="desc">In loving memory of [relationship] [person name]</p> 
            </div>
            
            <div class="form__field">
                <img src="{{ 'home-test-img.jpg' | asset_img_url: 'master' }}" />
            </div>
        </div>

        <div id="introPage" class="storybook-preview-block">
            <div class="form__field">
                <p class="desc">
                    Your [Relationship] was so many things to our family and their friends. He/She was [Occupation] and his/her favorite things  
                        to do included [Hobby]. The funniest thing about them was there [Unique Characteristic].
                </p> 
            </div>
        </div>

        <div id="storyPage" class="storybook-preview-block">
            <div class="form__field">
                <p class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia repudiandae culpa quas. 
                        Saepe repudiandae pariatur voluptatem est recusandae sit quia suscipit corporis. Odio similique quidem vel rem error placeat nihil.
                </p> 
            </div>

            <div class="form__field">
                <img src="{{ 'activity-test.png' | asset_img_url: 'master' }}" />
            </div>
        </div>

        <div id="conclusionPage" class="storybook-preview-block">
            <div class="form__field">
                <p class="desc">
                    It is hard and sad to think of someone that has passed on. But try to take comfort in all they have left for you. 
                    Always know a part of them lives on in you. As long as you share their stories and memories, they can never really be gone.
                </p> 
            </div>
        </div>

        <div id="addToShoppingBag" class="storybook-preview-block">
            <div class="form__field">
                <div class="storybook-preview-block--submit">
                    <a class="btn storybookPrev" href="javascript:void(0);">Previous Step</a>
                    <button class="btn" type="submit">Add to Shopping Bag</button>
                </div>
            </div>
        </div>
    </div>
</div>


