<!-- @TODO: Change connect class to layout-1-grid -->
<div class="connect connect--page">
	<div class="cols cols--m-2">
		<div class="col context--white">
			<!-- Character goes here -->
		</div>
		<div class="col context--grey">
            <!-- Character feature selections go here -->
		</div>
	</div>
</div>
