<div class="form__group">
	<div class="form__field">
		<label class="form__label form__label--align-center">[] <span>was a</span></label> 
	</div>
	
	<div class="form__field">
		<div class="select">
	    	<select>
	    		<option selected disabled>Select Occupation & Hobbies</option>
	            <option value="Mother">Mother</option>
	           	<option value="Father">Father</option>
	            <option value="Aunt">Aunt</option>
	        </select>
	    </div>
	</div>
</div>

