<div class="storybook">
    <div class="storybook__main">
        <form class="storybook__form" method="post" action="." enctype="multipart/form-data">
            <div class="storybook__sections">
                <div id="step1" class="storybook__section" data-storybook-index="1">
                    {% section 'storybook-step-1' %}
                </div>
                <div id="step2" class="storybook__section" data-storybook-index="2">
                    {% section 'storybook-step-2' %}
                </div>
                <div id="step3" class="storybook__section" data-storybook-index="3">
                    {% section 'storybook-step-3' %}
                </div>
                <div id="step4" class="storybook__section" data-storybook-index="4">
                    {% section 'storybook-step-4' %}
                </div>
                <div id="step5" class="storybook__section" data-storybook-index="5">
                    {% section 'storybook-step-5' %}
                </div>
                <div id="step6" class="storybook__section" data-storybook-index="6">
                    {% section 'storybook-step-6' %}
                </div>
                <div id="step7" class="storybook__section" data-storybook-index="7">
                    {% section 'storybook-step-7' %}
                </div>
            </div>
        </form>
    </div>
</div>